@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2A233C;
}

/* Estilos do Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4% 2% 4%;
}

.header-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.header-logo img {
    width: 4rem;
    height: auto;
}

.header-logo h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}

.header-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon-home,
.icon-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 0.25rem 0.25rem 0.3rem 0.25rem;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10rem;
    transition: 0.5s;
}

.icon-home:hover {
    border: 1px solid #CAC9CD;
    border-radius: 10rem;
}

.icon-home svg {
    width: 2.5rem;
    height: auto;
}

.icon-user img {
    width: 3rem;
    height: auto;
    border-radius: 10rem;
}

.icon-user:hover .user-online {
    background-color: #04F81C;
}

.user-online {
    background-color: transparent;
    border: 2px solid #04F81C;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    right: -15%;
    margin: 0.5rem;
    transition: 0.3s;
}

/* Estilos do corpo */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0% 1% 0%;
    border-bottom: 1px solid #CAC9CD;
    margin: 1% 4% 0 4%;
}

.search-container h2 {
    font-size: 2rem;
    color: #CAC9CD;
}

.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.search-products {
    --input-bg: transparent;
    --padding: 1.5em;
    --rotate: 80deg;
    --gap: 2em;
    --icon-change-color: #fff;
    --height: 35px;
    width: 24.1rem;
    padding-inline-end: 1em;
    background: var(--input-bg);
    position: relative;
    border-radius: 0.3rem;
    border: 1px solid #CAC9CD;
}

.search-products label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
}

.search-products input {
    width: 100%;
    height: auto;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
    color: #fff;
}

.search-products input::placeholder {
    color: #cac9cdcd;
}

.search-products svg {
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    height: 15px;
}

.icon-search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 21rem;
}

.icon-search svg{
    width: 1.35rem;
    height: auto;
}

.close-btn {
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    cursor: pointer;
    transition: 0.3s;
}

.search-products :focus-within .close-btn {
    opacity: 1;
    transform: scale(1);
}

.create-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    background-color: #3BADFB;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    width: 11rem;
    padding: 2% 1% 2% 1%;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.create-button:hover {
    background-color: #2F80ED;
    color: #fff;
    transition: 0.5s;
}

.create-button svg{
    width: 1.5rem;
    height: auto;
}

/* Estilos da tabela */
.container-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 3% 4% 3% 4%;
}

.product-card{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    border: 1px solid #cac9cd07;
    background-color: #312D4B;
    border-radius: 0.3rem;
    padding: 1rem;
    color: #E7E3FC;
}

.product-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}

.product-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.product-title h3{
    font-size: 1.063rem;
    font-weight: 600;
}

/* Estilos do rodapé */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: transparent;
    color: #fff;
    padding: 2%;
    font-size: 1.3rem;
    font-weight: 400;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

footer p {
    text-align: center;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin-left: 0.3%;
    font-weight: 500;
    text-decoration: underline;
}