@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2A233C;
}

/* Estilos do Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A233C;
    padding: 2% 4% 2% 4%;
}

.header-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.header-logo img {
    width: 4rem;
    height: auto;
}

.header-logo h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}

.header-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-status-container {
    position: relative;
    display: inline-block;
}

.icon-home{
    display: flex;
    border: 1px solid transparent;
    border-radius: 10rem;
    padding: 0.25rem 0.25rem 0.3rem 0.25rem;
    transition: 0.3s;
}

.icon-home:hover {
    border: 1px solid #CAC9CD;
}

.icon-home svg {
    width: 2.9rem;
    height: auto;
}

.icon-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 0.25rem 0.25rem 0.3rem 0.25rem;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10rem;
    transition: 0.5s;
    background: none;
    cursor: pointer;
}

.icon-user img {
    width: 3rem;
    height: auto;
    border-radius: 10rem;
}

.icon-user:hover {
    border-radius: 10rem;
}

.user-online {
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    right: -15%;
    margin: 0.5rem;
    transition: background-color 0.3s;
}

.user-online.online {
    background-color: #04F81C;
}

.user-online.offline {
    background-color: #FF0000;
}

.user-online.invisible {
    background-color: #FFD700;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: -30%;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.5rem;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; 
}

.dropdown.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; /* Enable interaction when visible */
}

.dropdown div {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown div:hover {
    background-color: #f1f1f1;
}


/* Estilos do corpo */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0% 1% 0%;
    border-bottom: 1px solid #CAC9CD;
    margin: 1% 4% 0 4%;
}

.search-container h2 {
    font-size: 2rem;
    color: #CAC9CD;
}

.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.search-products {
    --input-bg: transparent;
    --padding: 1.5em;
    --rotate: 80deg;
    --gap: 2em;
    --icon-change-color: #fff;
    --height: 35px;
    width: 24.1rem;
    padding-inline-end: 1em;
    background: var(--input-bg);
    position: relative;
    border-radius: 0.3rem;
    border: 1px solid #CAC9CD;
}

.search-products label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
}

.search-products input {
    width: 100%;
    height: auto;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
    color: #fff;
}

.search-products input::placeholder {
    color: #cac9cdcd;
}

.search-products svg {
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    height: 15px;
}

.icon-search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 21rem;
}

.icon-search svg {
    width: 1.35rem;
    height: auto;
}

.close-btn {
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    cursor: pointer;
    transition: 0.3s;
}

.search-products :focus-within .close-btn {
    opacity: 1;
    transform: scale(1);
}

.create-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    background-color: #3BADFB;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    width: 11rem;
    padding: 2% 1% 2% 1%;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.create-button:hover {
    background-color: #2F80ED;
    color: #fff;
    transition: 0.5s;
}

.create-button svg {
    width: 1.5rem;
    height: auto;
}

/* Estilos da tabela */
.container-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 3% 4% 3% 4%;
}

.product-card {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    border: 1px solid #cac9cd07;
    background-color: #312D4B;
    border-radius: 0.3rem;
    padding: 1rem;
    color: #E7E3FC;
}

.product-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}

.product-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.product-title h3 {
    font-size: 1.063rem;
    font-weight: 600;
}

/* Estilos do formulario de criar e editar moto */
.title-create,
.title-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1% 0% 1% 0%;
    margin: 3% 4% 3% 4%;
    border-bottom: 1px solid #CAC9CD;
}

.title-create h2,
.title-edit h2 {
    color: #CAC9CD;
    font-size: 2rem;
    font-weight: 600;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3% 4% 3% 4%;
}

.container-form h2 {
    color: #CAC9CD;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.container-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 30%;
}

.container-form label {
    font-size: 1.063rem;
    font-weight: 600;
    color: #CAC9CD;
}

.container-form input {
    border-radius: 0.3rem;
    background-color: transparent;
    border: 1px solid #cac9cda0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #CAC9CD;
    width: 100%;
    height: 2.8rem;
    padding: 3%;
}

.container-form input::placeholder {
    color: #CAC9CD;
    font-size: 1rem;
    text-transform: none;
}

.container-form select {
    border-radius: 0.3rem;
    background-color: transparent;
    border: 1px solid #cac9cda0;
    width: 100%;
    height: 2.8rem;
    padding: 3%;
    color: #CAC9CD;
}

.container-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
    background-color: #3BADFB;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    width: 100%;
    margin: 8% 0 8% 0;
    padding: 2% 1% 2% 1%;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.container-form button:hover {
    background-color: #2F80ED;
    color: #fff;
    transition: 0.5s;
}

.container-form button svg {
    width: 1.5rem;
    height: auto;
}

/* Estilos do rodapé */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: transparent;
    color: #CAC9CD;
    padding: 2%;
    font-size: 1.3rem;
    font-weight: 400;
    border-top: 1px solid #CAC9CD;
}

footer p {
    text-align: center;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin-left: 0.3%;
    font-weight: 500;
    text-decoration: underline;
}